/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    padding: 15px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    
}

body {
    background-color: #f6f8f9;
}

.container {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 30px;
    line-height: 30px;
}

#button1 {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
}

#button2 {
    background-color: white;
    color: gray;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.tasks {
    margin: 15px auto;
}

.check {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid green;
    color: green;
    display: inline-block;
    text-align: center;
}

.not-done {
    border-color: red;
    color: red;
}

.type {
    color: white;
    border-radius: 12px;
    padding: 10px;
    font-size: small;
    
}

.editorial {
    background-color: dodgerblue;
}